    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
}

     // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r"^[Ss]team$"
        open-floating true
}

    window-rule {
       match app-id="steam" title=r"^notificationtoasts_\d+_desktop$"
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
}

    window-rule {
        match app-id="slack"
        match app-id="google-chrome"
        match app-id="cursor"
        match app-id="code"
        default-column-width { proportion 1.0; }
}

    window-rule {
        match app-id="Alacritty"
        open-on-workspace "󰆍"
}

    window-rule {
        match app-id="google-chrome"
        open-on-workspace "󰈹"
}

    window-rule {
        match app-id="org.gnome.Nautilus"
        open-on-workspace "󰉋"
}

    window-rule {
        match app-id="cursor"
        open-on-workspace "󰨞"
}

    window-rule {
        match app-id="code"
        open-on-workspace "󰨞"
}

    window-rule {
        match app-id="slack"
        open-on-workspace "󰒱"
}

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
}
